*{
    margin:0;
    padding: 0;
    font-family: 'Tahoma';
}

body{
    width: 1366px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.book-content{
    display: flex;
    
}

.book-cover-img{
    margin-top: 70px;
    margin-left: 73px;
    margin-right: 125px;
    width: 404px;
    height: 630px;
}
h1{
    margin-top: 124px;     
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
div[class="book-info"] > h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25.5px;
}
.book-text{
    margin-right: 208px;
    margin-bottom: 68px;
}
.price{
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 51.5px;
}

.buttons{
    display: inline-flex;
}

.buy-button{
    background-color: #EC744A;
    color:#fff;
    text-decoration: none;
    transition: background-color 0.2s linear;

    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;

    border-radius: 5px;

    padding: 20px 50px 0px 50px;
    margin-right: 40px;
}

.buy-button:hover,
.about-button:hover {
    background-color: #d36409d6;
    color:white;
}

.about-button{
    border: 3px solid #f05a22;
    background: rgba(0, 0, 0, 0.0001);

    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;

    border-radius: 5px;
    text-align: center;
    color: #F05A22;


    transition: background-color 0.2s linear;
    transition: color 0.2s linear;
    padding: 19.5px 15px 20.5px 15px;
}



div[class="services"] > h2{
    margin-left: 538px;
    margin-bottom: 89.5px;
}

.services{
    margin-bottom: 150px;
}

.services-list{
    display: flex;
    margin-left: 136px;
    margin-right: 213px;
}

.ser-item{
    text-align: center;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.buyers-and-head{
    display: flex;
    flex-direction: column;

}

.buyers-header{
    margin-left: 484px;
    margin-right: 469px;
    padding-bottom: 67.5px;
}

.book-buyers{
    margin-left: 73px;
    max-width: 1137px;
    max-height: 659px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}